<!DOCTYPE html>
<html>
<head>
  <title> {{ title }} </title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
 {{>headder}}
 <p>the data used by our site is provided by <a href="https://weatherstack.com">weatherstack</a></p>
 <p>the geocoding data is obtained by <a href="https://mapbox.io">mapbox</a></p>
 <img src="/img/mandalorian.jpg">
 {{>footer}}
</body>
</html>