<!DOCTYPE html>
<html>
<head>
  <title> {{ title }} </title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
 {{>headder}}
 <img src="/img/mandalorian.jpg">
 {{>footer}}
</body>
</html>