<!DOCTYPE html>
<html>
<head>
  <title> weather </title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
 {{>headder}}
 <p class='help'>help -</p><b class='help'>{{ message }}</b>
 {{>footer}}
</body>
</html>