<!DOCTYPE html>
<html>
<head>
	<title>not found</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
	{{>headder}}
	<h1><b>You are lost !</b></h1>
	<p>{{message}}</p><br>
	<a href="/">home</a>
	{{>footer}}
</body>
</html>